<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rcptList</key>
	<array>
		<string>領収書 </string>
		<string>健診結果</string>
		<string>定期代差額</string>
		<string>書類</string>
		<string>セキュリティカード</string>
	</array>
	<key>handoutList</key>
	<array>
		<string>互助会給付金</string>
		<string>書類</string>
		<string>手紙</string>
		<string>セキュリティカード</string>
	</array>
	<key>remColList</key>
	<array>
		<string>業務都合</string>
		<string>体調不良</string>
		<string>私事都合</string>
		<string>電車遅延</string>
		<string>早退</string>
	</array>
	<key>rcptSitCatImage</key>
	<dict>
		<key>0</key>
		<string></string>
		<key>1</key>
		<string>rcptSumi.png</string>
	</dict>
	<key>handoutSitCatImage</key>
	<dict>
		<key>0</key>
		<string></string>
		<key>1</key>
		<string>handoutSumi.png</string>
	</dict>
	<key>rcptSitCatImageMini</key>
	<dict>
		<key>0</key>
		<string>rcpt_mini.png</string>
		<key>1</key>
		<string>rcpt_sumi_mini.png</string>
	</dict>
	<key>handoutSitCatImageMini</key>
	<dict>
		<key>0</key>
		<string>handout_mini.png</string>
		<key>1</key>
		<string>handout_sumi_mini.png</string>
	</dict>
	<key>attCatImage</key>
	<dict>
		<key>0</key>
		<string></string>
		<key>1</key>
		<string>syusseki.png</string>
		<key>2</key>
		<string>kesseki.png</string>
		<key>3</key>
		<string>tikoku.png</string>
		<key>4</key>
		<string>sotai.png</string>
	</dict>
	<key>attCatImageMini</key>
	<dict>
		<key>0</key>
		<string></string>
		<key>1</key>
		<string>syusseki_mini.png</string>
		<key>2</key>
		<string>kesseki_mini.png</string>
		<key>3</key>
		<string>tikoku_mini.png</string>
		<key>4</key>
		<string>sotai_mini.png</string>
	</dict>
	<key>sitCatShort</key>
	<dict>
		<key>0</key>
		<string>未</string>
		<key>1</key>
		<string>済</string>
	</dict>
	<key>detailViewIcon</key>
	<dict>
		<key>0</key>
		<string>attIcon</string>
		<key>1</key>
		<string>handoutIcon</string>
		<key>2</key>
		<string>rcptIcon</string>
		<key>3</key>
		<string>note_pinned</string>
	</dict>
	<key>attCat</key>
	<dict>
		<key>0</key>
		<string>未記帳</string>
		<key>1</key>
		<string>出席</string>
		<key>2</key>
		<string>欠席</string>
		<key>3</key>
		<string>遅刻</string>
		<key>4</key>
		<string>早退</string>
	</dict>
	<key>existenceFlg</key>
	<dict>
		<key>0</key>
		<string>無</string>
		<key>1</key>
		<string>有</string>
	</dict>
	<key>handoutSitCat</key>
	<dict>
		<key>0</key>
		<string>未配布</string>
		<key>1</key>
		<string>配布済</string>
	</dict>
	<key>rcptSitCat</key>
	<dict>
		<key>0</key>
		<string>未提出</string>
		<key>1</key>
		<string>提出済</string>
	</dict>
	<key>okCancelCat</key>
	<dict>
		<key>0</key>
		<string>OK</string>
		<key>1</key>
		<string>取消</string>
	</dict>
</dict>
</plist>
